* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: "YoungSerif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
body {
  background-color: hsl(30, 54%, 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "Outfit";
  font-weight: 400;
}
h1,
h2 {
  font-family: "YoungSerif";
}

.main {
  max-width: 750px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  line-height: 1.6;
  border-radius: 10px;
}
@media only screen and (max-width: 576px) {
  .main {
    margin: 0;
  }
}

img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border-radius: 10px;
}

hr {
  border-top: 1px hsl(24, 5%, 18%);
}

.heading {
  color: hsl(14, 45%, 36%);
  font-size: 1.8rem;
  font-weight: 500;
}

.custom-margin {
  margin-top: 10px;
  margin-bottom: 20px;
}

.recipe__img {
  overflow: hidden;
  border-radius: 10px;
}
.recipe__details {
  margin-top: 2rem;
}
.recipe__details__description .title {
  font-size: 2.5rem;
  font-weight: 500;
  color: hsl(24, 5%, 18%);
}
@media only screen and (max-width: 576px) {
  .recipe__details__description .title {
    font-size: 2rem;
    line-height: 1.4;
  }
}
.recipe__details__description p {
  margin: 0.5rem 0 2rem;
  color: hsl(30, 10%, 34%);
}
@media only screen and (max-width: 576px) {
  .recipe__details__description p {
    margin-top: 20px;
  }
}
.recipe__details__time {
  padding: 1.3rem 2rem 1.3rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  line-height: 2;
  color: hsl(30, 10%, 34%);
}
.recipe__details__time .preparation-title {
  color: hsl(332, 51%, 32%);
  font-size: 1.3rem;
}
.recipe__details__time ul {
  margin-left: 1.5rem;
}
.recipe__details__time ul li::marker {
  color: hsl(332, 51%, 32%);
}
.recipe__details__time ul .title {
  color: hsl(24, 5%, 18%);
  font-weight: 700;
  margin-left: 14px;
}
.recipe__details__ingredients ul {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 1.8rem;
}
.recipe__details__ingredients ul li::marker {
  color: hsl(14, 45%, 36%);
}
.recipe__details__ingredients ul .sub-title {
  margin-left: 12px;
  color: hsl(30, 10%, 34%);
}
.recipe__details__instructions ol {
  margin-top: 10px;
  margin-left: 1rem;
  margin-bottom: 20px;
}
.recipe__details__instructions ol li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
.recipe__details__instructions ol .total {
  color: hsl(30, 10%, 34%);
  margin-left: 7px;
}
.recipe__details__instructions ol .total .join {
  margin-left: 10px;
}
.recipe__details__instructions ol .total .title {
  color: hsl(24, 5%, 18%);
  font-weight: 700;
}
.recipe__details__nutrition {
  margin-top: 10px;
}
.recipe__details__nutrition .sub-heading {
  margin-top: 15px;
  color: hsl(30, 10%, 34%);
}
.recipe__details__nutrition ul {
  list-style: none;
  margin-top: 10px;
}
.recipe__details__nutrition ul .detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.6rem 1rem;
  color: hsl(30, 10%, 34%);
}
.recipe__details__nutrition ul .detail .quantity {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}