* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: "YoungSerif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
body {
  background-color: hsl(30, 54%, 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "Outfit";
  font-weight: 400;
  padding: 0.5rem;
}

h1, h2 {
  font-family: "YoungSerif";
}

.main {
  max-width: 750px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  margin-top: 3rem;
  padding: 2rem;
  line-height: 1.6;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border-radius: 10px;
}

.recipe__img {
  overflow: hidden;
  border-radius: 10px;
}
.recipe__details {
  margin-top: 2rem;
}
.recipe__details__description .title {
  font-size: 2.5rem;
  font-weight: 600;
  color: hsl(24, 5%, 18%);
}
.recipe__details__description p {
  margin: 0.5rem 0 2rem;
  color: hsl(30, 10%, 34%);
}
.recipe__details__time {
  padding: 1.3rem 2rem 1.3rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  line-height: 2;
  color: hsl(30, 10%, 34%);
}
.recipe__details__time .preparation-title {
  color: hsl(332, 51%, 32%);
  font-size: 1.3rem;
}
.recipe__details__time ul {
  margin-left: 2rem;
}
.recipe__details__time ul li::marker {
  color: hsl(332, 51%, 32%);
}
.recipe__details__time .title {
  color: hsl(24, 5%, 18%);
  font-weight: 700;
}