.recipe {
  &__img {
    overflow: hidden;
    border-radius: 10px;
  }
  &__details {
    margin-top: 2rem;

    &__description {
      .title {
        font-size: 2.5rem;
        font-weight: 500;
        color: $dark-charcoal;
      }
      p {
        margin: 0.5rem 0 2rem;
        color: $wenge-brown;
      }
    }
    &__time {
      .preparation-title {
        color: $dark-raspberry;
        font-size: 1.3rem;
      }
      padding: 1.3rem 2rem 1.3rem;
      background-color: $rose-white;
      border-radius: 10px;
      line-height: 2;
      color: $wenge-brown;
      ul {
        margin-left: 1.5rem;
        li::marker {
          color: $dark-raspberry;
        }
        .title {
          color: $dark-charcoal;
          font-weight: 700;
          margin-left: 14px;
        }
      }
    }
    &__ingredients {
      margin-top: 10px;
      margin-bottom: 20px;
      .title {
        color: $nutmeg;
        font-size: 1.8rem;
        font-weight: 500;
      }
      ul {
        margin-left: 1.8rem;
        margin-bottom: 20px;
        li::marker {
          color: $nutmeg;
        }
        .sub-title {
          margin-left: 12px;
          color: $wenge-brown;
        }
      }
    }
    &__instructions {
      margin-top: 10px;
      margin-bottom: 20px;
      .heading {
        color: $nutmeg;
        font-size: 1.8rem;
        font-weight: 500;
      }
      ol {
        margin-left: 1rem;
        margin-bottom: 20px;
        li::marker {
          color: $nutmeg;
          font-weight: 700;
        }
        .total {
          color: $wenge-brown;
          margin-left: 7px;
          .join {
            margin-left: 10px;
          }
          .title {
            color: $dark-charcoal;
            font-weight: 700;
          }
        }
      }
    }
    &__nutrition {
      margin-top: 10px;
      .heading {
        color: $nutmeg;
        font-size: 1.8rem;
        font-weight: 500;
      }
      .sub-heading {
        margin-top: 15px;
        color: $wenge-brown;
      }
      ul {
        list-style: none;
        .detail {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 0.6rem 1rem;
          color: $wenge-brown;
          .quantity {
            color: $nutmeg;
            font-weight: 700;
          }
        }
      }
    }
  }
}
