* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: "YoungSerif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
body {
  background-color: $eggshell;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Outfit";
  font-weight: 400;
  //padding: 0.5rem;
  @include sm {
    //padding: 0;
  }
}
h1,
h2 {
  font-family: "YoungSerif";
}

.main {
  max-width: 750px;
  width: 100%;
  background-color: $white;
  margin-top: 3rem;
  margin-bottom: 3rem;
  line-height: 1.6;
  border-radius: 10px;
  @include sm {
    margin: 0;
  }
}
img {
  width: 100%;
  border-radius: 10px;
}
hr {
  border-top: 1px $dark-charcoal;
}
.heading {
        color: $nutmeg;
        font-size: 1.8rem;
        font-weight: 500;
      }
.custom-margin {
  margin-top: 10px;
  margin-bottom: 20px;
}
.recipe__details {
  padding: 2rem;
}
